{% extends "bootstrap/base.html" %}
{% block title %}SqlView - {% endblock %}
{% block head %}
<!-- custom style -->
{% block page_styles %}{% endblock %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<link href="{{ url_for('static', filename = 'vendor/jquery-message/jquery-message.min.css') }}"
      rel="stylesheet"></script>
<script src="{{ url_for('static', filename = 'vendor/jquery-message/jquery-message.min.js') }}"></script>
{% endblock %}

<div class="container">
    <!-- navbar -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ url_for('CommonView.index') }}">SqlView</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('DataSourceView.index') }}">DataSource</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Writing <span class="badge badge-danger">new</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('WritingView.index', type='map')}}">Brainstorming
                            Map</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                {% if current_user and current_user.is_authenticated %}
                    <div class="form-inline my-2 my-lg-0">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-light btn-sm dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {{ current_user.username }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="base.html">
                                    <i class="fa fa-cog"></i> Settings
                                    <span class="badge badge-danger">new</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('UserView.logout') }}">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <nav class="my-2 my-md-0 mr-md-3-0">
                        <a class="btn btn btn-outline-light btn-sm" href="{{ url_for('UserView.login') }}">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                        <a class="btn btn btn-outline-light btn-sm" href="{{ url_for('UserView.register') }}">
                            <i class="fas fa-sign-up-alt"></i> Register
                        </a>
                    </nav>
                {% endif %}
            </div>
        </nav>
    {% endblock %}
    <!-- context -->
    <div class="row">
        {% block content %}
            {% block page_content %}{% endblock %}
        {% endblock %}
    </div>
</div>

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}