{% extends "layout/base.html" %}
{% block title %} Home{% endblock %}

{% block page_styles %}
<link href="{{ url_for('static', filename = 'css/user-login.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<form method="POST" class="form-signin">
    <div class="mb-4"></div>
    <h1 class="h3 mb-3 font-weight-normal">User Login</h1>
    <label for="inputEmail" class="sr-only">UserName</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="UserName" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
{% endblock %}