{% extends "layout/base.html" %}
{% block title %} Home{% endblock %}

{% block page_styles %}
    <link href="{{ url_for('static', filename = 'css/user-login.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    <form id="userRegister" method="POST" class="form-signin">
        <div class="mb-4"></div>
        <h1 class="h3 mb-3 font-weight-normal">User Register</h1>
        <label for="inputEmail" class="sr-only">UserName</label>
        <input type="text" id="username" class="form-control" placeholder="username" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <input type="password" id="re-password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'js/user/user-register.js') }}"></script>
    <script>
        UserRegister.initEvent();
    </script>
{% endblock %}
